<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="anaconda3" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="bitwarden" />
  <package id="brave" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolateygui" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="dotnetfx" />
  <package id="emacs" />
  <package id="emacs.portable" />
  <package id="epicgameslauncher" />
  <package id="Everything" />
  <package id="ffmpeg" />
  <package id="Firefox" />
  <package id="forticlientvpn" />
  <package id="freefilesync" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="krita" />
  <package id="lghub" />
  <package id="mobaxterm" />
  <package id="mongodb-shell" />
  <package id="nano" />
  <package id="nano-win" />
  <package id="nmap" />
  <package id="nodejs-lts" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="NTop.Portable" />
  <package id="obsidian" />
  <package id="OpenOffice" />
  <package id="openshot" />
  <package id="openssl" />
  <package id="openvpn-connect" />
  <package id="packer" />
  <package id="pandoc" />
  <package id="parsec" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="raidrive" />
  <package id="spotify" />
  <package id="steam" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="terraform" />
  <package id="terraformer" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vivaldi" />
  <package id="vivaldi.portable" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="Wget" />
  <package id="winscp" />
  <package id="winscp.install" />
  <package id="wireshark" />
  <package id="XnViewMP" />
  <package id="xnviewmp.install" />
  <package id="zoom" />
</packages>